@import url('./font.css');
@import 'tailwindcss';


@theme {

	/* color */
	--color-background: #0f1c12;
	--color-secondary-bg: #0b2e16;
	--color-card: #14251a;
	--color-custom: #00ff66;
	--color-muted: #1f3928;
	--color-primary: #ffffff;
	--color-primary-btn: #00ff66;
	--color-secondary-btn: #2f4a3a;
	--color-secondary: #a3b0a1;
	/* --color-link: #a3b0a1;	 */

	/* font */
	--font-alata: "Alata";
	--font-lora: "Lora";
	--font-montserrat: "Montserrat";
	--font-cardo: "Cardo";
	--font-opensans: "OpenSans";
	--font-poppins: "Poppins";
	--font-pacifico: "Pacifico";
	--font-montserrat-alt: "MontserratAlt";
	--font-sourgummy: 'SourGummy';
	--font-ubuntu: "Ubuntu";
	--font-alike: "Alike";
	--font-abeezee: "ABeeZee";
	--font-alef: "Alef";
	--color-coral: "#771d1d";

	/* background image  */
	--background-image-forest: url('./assets/images/image.jpg')
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
}
